<article class="dl-Article dl-Article-type-<%= page.layout %> r-VerticalRhythm">
  <div class="dl-Article-Description">
    <h1 class="dl-Article-Title visuallyHidden"><%- page.title %></h1>
    <%- page.content %>
  </div>
</article>
