<%- partial('_partial/head') %>
<body>
  <div class="dl-UIViewport">
    <%- partial('_partial/aside') %>
    <section class="dl-UIWrapper">
      <main class="dl-Main dl-Container" role="main">
      <%- body %>
      </main>
    </section>
  </div>
  <%- partial('_partial/google-analytics') %>
</body>
</html>

