<% if (post.layout !== 'page'){ %>
  <div class="dl-Article-Images">
    <% if (post.photos && post.photos.length){ %>
      <% post.photos.forEach(function(photo, i){ %>
        <img src="<%- url_for(photo) %>" alt="">
      <% }) %>
    <% } %>

    <% if (post.vimeoid){ %>
      <div class="flex-video widescreen vimeo">
        <iframe src="https://player.vimeo.com/video/<%= post.vimeoid %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p><a href="https://vimeo.com/<%= post.vimeoid %>"><%= post.vimeotitle %></a> from <a href="https://vimeo.com/user5240963">DenisLef&egrave;vre</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    <% } %>
  </div>
<% } %>
