<% if (post.layout !== 'page'){ %>
  <div class="dl-Article-Images">
    <% if (post.photos && post.photos.length){ %>
      <% post.photos.forEach(function(photo, i){ %>
        <img src="<%- url_for(photo) %>" alt="">
      <% }) %>
    <% } %>
  </div>
<% } %>
