<aside class="dl-Aside" role="complementary">
  <header class="dl-Header dl-Logo-Wrap">
    <a class="dl-Site-Name" href="/">
      <%- partial('_partial/logo') %>
    </a>
  </header>
  <%- partial('_partial/nav') %>
</aside>
