<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = page.title;
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>
  <%- css('dist/style') %>
</head>


<!--
@todo

Add arrow to current item
Move nav to the top, below logo (https://developer.mozilla.org/en-US/docs/Web/API/Node/insertBefore)
On click on item, preventDefault and show all other list items

-->
