@font-face {
  font-family: 'Super Clarendon';
  src: url('../fonts/superclarendon_bd-webfont.eot');
  src: url('../fonts/superclarendon_bd-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/superclarendon_bd-webfont.woff2') format('woff2'),
       url('../fonts/superclarendon_bd-webfont.woff') format('woff'),
       url('../fonts/superclarendon_bd-webfont.ttf') format('truetype'),
       url('../fonts/superclarendon_bd-webfont.svg#superclarendon_rgbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Super Clarendon';
  src: url('../fonts/superclarendon_lt-webfont.eot');
  src: url('../fonts/superclarendon_lt-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/superclarendon_lt-webfont.woff2') format('woff2'),
       url('../fonts/superclarendon_lt-webfont.woff') format('woff'),
       url('../fonts/superclarendon_lt-webfont.ttf') format('truetype'),
       url('../fonts/superclarendon_lt-webfont.svg#superclarendonlight') format('svg');
  font-weight: normal;
  font-style: normal;
}
