@import "normalize.css/normalize.css";
@import "fonts";
@import "cssrecipes-vertical-rhythm/index.css";
@import "cssrecipes-vertical-rhythm/lib/ratio/minor-third.css";


html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Super Clarendon', 'Lucida Grande', 'Lucida Sans Unicode', Lucida, sans-serif;
}

  @media only screen and (min-width: 50em) {
    body:before,
    body:after {
      content: "";
      position: fixed;
      background: #1B1E1F;
      left: 0;
      right: 0;
      height: 1.25rem;
    }
    body:before {
      top: 0;
    }
    body:after {
      bottom: 0;
    }
    body {
      border-left: 1.25rem solid #1B1E1F;
      border-right: 1.25rem solid #1B1E1F;
    }
  }

*, *:before, *:after {
  box-sizing: inherit;
}


.visuallyHidden{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


h1, h2, h3, h4, h5, h6{
  font-family: 'Super Clarendon', Georgia, serif;
  font-weight: bold;
}


a{
  color: #FFC31C;
  text-decoration: none;
  transition: color .25s ease-out;
}

a:hover{
  color: color(#FFC31C shade(25%));;
}

img {
  max-width: 100%;
  width : 100%;
  height: auto;
}


.dl-Logo-Wrap {
  background-color: #101213;
  padding: 2rem;
}

  @media only screen and (min-width: 50em) {
    .dl-Logo-Wrap {
      padding: 3.75rem;
    }
  }


.dl-Site-Name {
  display: block;
}


.dl-Logo{
  width: 16.5rem;
  height: 4rem;
}


.dl-Logo path,
.dl-Logo rect {
  fill: white;
}


.dl-UIViewport {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #101213;
  color: #686F76;
  min-height: 100vh;
}

  @media only screen and (min-width: 50em) {
    .dl-UIViewport {
      flex-direction: row;
    }
  }


:root {
  --UIWrapper-fontSize: 1rem;
  --UIWrapper-widthContent: 65%;
}


.dl-UIWrapper {
  display: flex;
  width: 100%;
}

  @media only screen and (min-width: 50em) {
    .dl-UIWrapper {
      padding: 1.875rem;
      /* align-items: center; */
      width: var(--UIWrapper-widthContent);
    }
  }

:root {
  --Main-fontSize: 1rem;
}

.dl-Main {
  flex: 1;
  font-size: var(--Main-fontSize);
}

  @media only screen and (min-width: 50em) {
    .dl-Main {
      flex: 0 50%;
    }
  }


.dl-Aside {
  display: flex;
  flex-direction: column;
  flex: 1;
}

  @media only screen and (min-width: 50em) {
    .dl-Aside {
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
    }
  }

.dl-Nav {
  list-style-type: none;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

  @media only screen and (min-width: 50em) {
    .dl-Nav{
      padding-left: 3.75rem;
    }
  }


.dl-Nav-Item{
  color: #686F76;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', 'Lucida Grande', 'Lucida Sans Unicode', Lucida, sans-serif;
  font-weight: 200;
  letter-spacing: 4px;
  display: block;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-bottom: 0.0625rem solid #1D2122;
  text-decoration: none;
  position: relative;
}

  @media only screen and (min-width: 50em) {
    .dl-Nav-Item{
      padding-left: 0;
    }
  }


.dl-Nav-Item:last-child{
  border-bottom: 0;
}


.dl-Nav-innerPages .dl-Nav-Item:not(.dl-Nav-Item--active){
  visibility: hidden;
  opacity: 0;
  width: 0;
  position: absolute;
  transform: scale(1.5);
  transition:  opacity .15s, transform .3s ease-out;
}

  @media only screen and (min-width: 50em) {
    .dl-Nav-innerPages .dl-Nav-Item:not(.dl-Nav-Item--active){
      position: relative;
      visibility: visible;
      opacity: 1;
      transform: none;
      padding-left: 0;
      width: 100%;
    }
  }


.dl-Nav--isOpen > .dl-Nav-Item:not(.dl-Nav-Item--active){
  position: relative;
  visibility: visible;
  opacity: 1;
  width: 100%;
  transform: scale(1);
}


.dl-Nav-Item--active{
  color: #FFFFFF;
  background-color: #1B1E1F;
  position: relative;
}


.dl-Nav-Item--active:before,
.dl-Nav-Item--active:after{
  content: "";
  display: block;
  position: absolute;
  top: 1.75rem;
  width: 0.625rem;
  height: 0.165rem;
  background-color: #686F76;
  transform: rotate(40deg);
}


.dl-Nav-Item--active:before{
  right: 1.75rem;
}


.dl-Nav-Item--active:after{
  right: 1.35rem;
  transform: rotate(-40deg);
}

  @media only screen and (min-width: 50em) {
    .dl-Nav-Item--active{
      padding-left: 1.875rem;
    }
    .dl-Nav-Item--active:before,
    .dl-Nav-Item--active:after{
      content: none;
    }
  }


.dl-Nav-Item:hover,
.dl-Nav-Item:focus{
  color: #FFFFFF;
}


.dl-Nav-Item--active:hover:before,
.dl-Nav-Item--active:hover:after{
  background-color: #FFFFFF;
}


.dl-Container{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

  @media only screen and (min-width: 50em) {
    .dl-Container{
      padding-left: 3.75rem;
      padding-right: 1.875rem;
    }
  }


.dl-Article-Title{
  font-size: 1.5rem;
  line-height: 36px;
  margin-bottom: 1.25rem;
}


.dl-Article-highlight{
  color: #FFFFFF;
}


.dl-Article-Category{
  position: relative;
  display: block;
  color: #FFFFFF;
  padding: 0.625rem 0 0.9375rem;
  font-family: 'Source Sans Pro', 'Lucida Grande', 'Lucida Sans Unicode', Lucida, sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 1.625rem;
}

  .dl-Article-Category:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 15%;
    border-bottom: 0.0625rem solid #FFFFFF;
  }


@media only screen and (min-width: 60em) {

  .dl-Article{
    margin-top: calc(1.25rem * 6);
  }

  .dl-Article-Description,
  .dl-Article-Images{
    display: inline-block;
    vertical-align: top;
  }

  .dl-Article-Description{
    margin-right: 1.5rem;
    font-size: 1.75rem;
    line-height:  2.375rem;
  }

  .dl-Article-Images{
    padding-top: 23.75rem;
  }
}
